apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-migrate
  namespace: production
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
          - name: alembic
            image: sarialbebeto/alembic-migrate:latest
            command: ["sh", "-c"]
            args:
              - |
                export DATABASE_URL="postgresql://fastapi_traefik_prod:${DB_PASSWORD_PROD}@fastapi-prod-db:5432/fastapi_traefik_prod" && \
                alembic upgrade head
            env:
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: fastapi-prod-db
                    key: POSTGRES_PASSWORD

