apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-migrate
  namespace: production
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: alembic
          image: sarialbebeto/alembic-migrate:latest
          command: ["alembic", "upgrade", "head"]
          env:
            - name: DATABASE_URL
              value: "postgresql://fastapi_traefik_prod:fastapi_traefik_prod@fastapi-prod-db:5432/fastapi_traefik_prod"

