apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-migrate
  namespace: production
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: alembic
          image: python:3.11-slim
          command: ["sh", "-c"]
          args:
            - |
              pip install --upgrade pip && \
              pip install --user -r requirements.txt && \
              export PATH="$HOME/.local/bin:$PATH" && \
              export PYTHONPATH=. && \
              alembic upgrade head
          env:
            - name: DATABASE_URL
              value: "postgresql://fastapi_traefik_prod:fastapi_traefik_prod@fastapi-prod-db:5432/fastapi_traefik_prod"
          volumeMounts:
            - name: app-source
              mountPath: /workspace
      volumes:
        - name: app-source
          hostPath:
            path: /home/ubuntu/devops-project
            type: Directory
