apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-migrate
  namespace: production
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
          - name: alembic
            image: sarialbebeto/alembic-migrate:latest
            imagePullPolicy: Always
            command: ["sh", "-c"]
            args:
              - |
                until pg_isready -h fastapi-prod-db -p 5432 -U fastapi_traefik_prod; do
                  echo 'Waiting for Postgres...'
                  sleep 10
                done
                export DATABASE_URL="postgresql://fastapi_traefik_prod:${DB_PASSWORD}@fastapi-prod-db:5432/fastapi_traefik_prod"
                echo "DATABASE_URL=$DATABASE_URL"
                alembic upgrade head
            env:
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: fastapi-prod-db
                    key: POSTGRES_PASSWORD


