replicaCount: 3

image:
  repository: sarialbebeto/fastapi-prod
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: "" 

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

containerPort: 80
service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
  hosts:
    - host: fastapi-traefik.prod-fastapi.ddns-ip.net
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: prod-tls
      hosts:
        - fastapi-traefik.prod-fastapi.ddns-ip.net

# web:
#   env:
#     - name: ENV
#       value: "production"

# web:
#   containerPort: 80
#   readinessProbe:
#     httpGet:
#       path: /docs
#       port: 80
#   livenessProbe:
#     httpGet:
#       path: /
#       port: 80

db:
  image:
    repository: postgres
    tag: "15-alpine"
    pullPolicy: IfNotPresent
  port: 5432
  user: fastapi_traefik_prod
  password: fastapi_traefik_prod
  name: fastapi_traefik_prod
  storage:
    size: 5Gi
    storageClassName: ""

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /
    port: 80

readinessProbe:
  httpGet:
    path: /
    port: 80

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
