
replicaCount: 1


image:
  repository: sarialbebeto/fastapi-dev
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets: []


nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}


containerPort: 8000
service:
  type: ClusterIP
  port: 8000
  targetPort: 8000


ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
  hosts:
    - host: fastapi-traefik.dev-fastapi.ddns-ip.net
      paths:
        - path: /
          pathType: Prefix
  # tls: []  # Traefik manages TLS for dev as well


livenessProbe:
  httpGet:
    path: /
    port: 8000

readinessProbe:
  httpGet:
    path: /
    port: 8000


resources:
  limits:
    cpu: 500m
    memory: 1024Mi
  requests:
    cpu: 200m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80


db:
  image:
    repository: postgres
    tag: "17-alpine"
    pullPolicy: IfNotPresent
  port: 5432
  user: fastapi_traefik
  password: fastapi_traefik
  database: fastapi_traefik
  host: db
  storage:
    size: 5Gi
    storageClassName: ""
  environment:
    - DATABASE_URL=postgresql://fastapi_traefik:fastapi_traefik@db:5432/fastapi_traefik


volumes: []
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
