replicaCount: 3

image:
  repository: sarialbebeto/fastapi-prod
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: "" 

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

containerPort: 80
service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
  hosts:
    - host: fastapi-traefik.prod-fastapi.ddns-ip.net
      paths:
        - path: /
          pathType: Prefix
  # tls: []  

db:
  image:
    repository: postgres
    tag: "17-alpine"
    pullPolicy: IfNotPresent
  port: 5432
  user: fastapi_traefik_prod
  password: fastapi_traefik_prod
  database: fastapi_traefik_prod
  host: fastapi-prod-db
  storage:
    size: 5Gi
    storageClassName: ""
  environment:
    - DATABASE_URL=postgresql://fastapi_traefik_prod:fastapi_traefik_prod@fastapi-prod-db:5432/fastapi_traefik_prod

resources:
  limits:
    cpu: 500m
    memory: 1024Mi
  requests:
    cpu: 200m
    memory: 512Mi

livenessProbe:
  httpGet:
    path: /
    port: 80

readinessProbe:
  httpGet:
    path: /
    port: 80

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

additionalArguments:
  - "--certificatesresolvers.letsencrypt.acme.email=tsamosarial@yahoo.fr"
  - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
  - "--entrypoints.websecure.address=:443"
  - "--entrypoints.web.address=:80"

persistence:
  enabled: true
  path: /data
  size: 1Gi
  accessMode: ReadWriteOnce
nodeSelector: {}
tolerations: []
affinity: {}
