replicaCount: 1

image:
  repository: sarialbebeto/fastapi-dev
  pullPolicy: IfNotPresent
  tag: "latest"
imagePullSecrets: []


nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

containerPort: 8000
service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

ingress:
  enabled: true
  className: "traefik"
  annotations: 
    traefik.ingress.kubernetes.io/router.entrypoints: web

  hosts:
    - host: dev-example.com
      paths:
        - path: /
          pathType: Prefix
  tls: 
    - secretName: dev-tls
      hosts:
        - dev-example.com

web:
 env:
  - name: ENV
    value: dev

web:
  containerPort: 8000
  readinessProbe:
    httpGet:
      path: /docs
      port: 8000
  livenessProbe:
    httpGet:
      path: /
      port: 8000

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

db:
  port: 5432
  user: fastapi_traefik
  password: fastapi_traefik
  database: fastapi_traefik

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
