stages:
  - update
  - build
  - test
  - deploy_dev
  - deploy_prod

variables:
  IMAGE_TAG: latest
  DOCKER_DRIVER: overlay2
  PYTHONPATH: .
  GIT_STRATEGY: clone


update:
  stage: update
  image: python:3.11
  script:
    - python -m venv .venv
    - pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - .venv/
    expire_in: 1 hour
  

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin 
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG" -f Dockerfile .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG" -f Dockerfile.prod .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG" -f Dockerfile.traefik .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG"
  only:
    - main
  when: manual

unit-test:
  stage: test
  image: python:3.11-slim
  before_script:
    # --- Unit tests ---
    - rm -rf .venv
    - apt-get update && apt-get install -y --no-install-recommends gcc build-essential libpq-dev python3-dev libffi-dev libssl-dev pkg-config curl && rm -rf /var/lib/apt/lists/*
    - pip install --upgrade pip
    - pip install asyncpg
    - pip install pydantic>=2.4 && pip install fastapi>=0.103
    - which gcc
    - which python3
    - gcc --version
    - python3 --version
    - python3 -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip setuptools wheel
    - pip install -r requirements.txt pytest
  script:
    - PYTHONPATH=. pytest --maxfail=1 --disable-warnings -q --junitxml=report.xml # the test runs at this stage
  artifacts:
    when: always
    reports:
      junit: report.xml
  only:
    - main   
  when: manual

smoke-test:
  stage: test
  needs: ["unit-test"]
  image: docker:latest
  services:
    - docker:dind
  script:
    # --- Smoke test with container ---
    - echo "Building and running Docker container for smoke tests"
    - apk add --no-cache curl
    - docker-compose -f docker-compose.yml up -d --build
    - docker ps -a
    - docker exec devops-project-web-1 sh -c "pip install uvicorn[standard]" 
    - docker-compose logs web
    - sleep 15  # Wait for the app to start
    - docker-compose exec -T web curl -f http://web:8000/ || (echo "Health check failed!" && exit 1)
    - docker-compose exec -T web curl -f http://web:8000/docs 
    - docker-compose logs
    - docker-compose down
  only:
    - main

deploy_dev:
  stage: deploy_dev
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Dev..."
   - docker-compose -f docker-compose.yml up -d --build
   - sleep 15 # wait for services to start
   - docker-compose ps
   - docker-compose logs web
   - docker-compose exec -T web curl -f http://web:8000/ || (echo "Health check failed!" && exit 1)
   - docker-compose exec -T web curl -f http://web:8000/docs || (echo "Docs endpoint check failed!" && exit 1)
   - echo "Deployment to Dev successful."
  environment:
    name: dev
    url: http://dev.example.com
  only:
    - main
    - develop
  when: manual

deploy_prod:
  stage: deploy_prod
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Production..."
   - docker-compose -f docker-compose.prod.yml up -d --build
   - sleep 20               # wait for services to start
   - docker-compose ps
   - docker-compose logs web
   - docker ps -a
   - docker-compose exec -T web curl -f http://web:80/ || (echo "Health check failed!" && exit 1)
   - docker-compose exec -T web curl -f http://web:80/docs || (echo "Docs endpoint check failed!" && exit 1)
   - echo "Deployment to Production successful!"
  environment:
    name: Production
    url: https://fastapi-traefik.prod-fastapi.ip-ddns.com
  only:
    - main
  when: manual


app_security:
  stage: deploy_prod
  tags: 
    - runner_fastapi_project
  image: docker:27-cli
  before_script:
    - echo "Preparing Traefik certificate folder..."
    - mkdir -p /home/gitlab-runner/traefik-public-certificates
    - touch /home/gitlab-runner/traefik-public-certificates/acme.json
    - chmod 600 /home/gitlab-runner/traefik-public-certificates/acme.json
    - chmod 700 /home/gitlab-runner/traefik-public-certificates
    - ls -l /home/gitlab-runner/traefik-public-certificates
    - nano /home/gitlab-runner/traefik-public-certificates/acme.json
    - echo "Installing dependencies"
    - if ! command -v docker-compose &> /dev/null; then
         sudo apt-get install docker-compose -y && sudo apt-get update -y;
      fi
    - docker-compose version
    - sudo apt-get install -y bash curl coreutils
    #- if ! docker buildx version &> /dev/null; then \
    #    mkdir -p ~/.docker/cli-plugins && \
    #    curl -sSL "https://github.com/docker/buildx/releases/latest/download/buildx-$(uname -s)-$(uname -m)" -o ~/.docker/cli-plugins/docker-buildx && \
    #    chmod +x ~/.docker/cli-plugins/docker-buildx; 
    #  fi
    #- if ! docker buildx inspect mybuilder &>/dev/null; then
    #   docker buildx create mybuilder && \
    #   docker buildx inspect mybuilder --bootstrap; 
    #  fi
    - docker-compose -f docker-compose.prod.yml down
  script:
    - echo "Deploying to Production (host Docker)"
    - |
      cat > docker-compose.override.yml <<EOF
      services:
        traefik:
          ports:
            - "80:80"
            - "443:443"
          volumes:
            - "/home/gitlab-runner/traefik-public-certificates:/letsencrypt"
          labels:
            - "traefik.http.routers.dashboard.entrypoints=websecure"
            - "traefik.http.routers.dashboard.rule=Host(`dashboard-fastapi-traefik.prod-fastapi.ip-ddns.com`)"
            - "traefik.http.routers.dashboard.tls=true"
            - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
            - "traefik.http.routers.dashboard.service=api@internal"

        web:
          labels:
            - "traefik.enable=true"
            - "traefik.http.routers.fastapi.entrypoints=web"
            - "traefik.http.routers.fastapi.entrypoints=websecure"
            - "traefik.http.routers.fastapi.rule=Host(`fastapi-traefik.prod-fastapi.ip-ddns.com`)"
            - "traefik.http.routers.fastapi.tls=true"
            - "traefik.http.routers.fastapi.tls.certresolver=letsencrypt"
            - "traefik.http.services.fastapi.loadbalancer.server.port=80"
      EOF
    - export COMPOSE_HTTP_TIMEOUT=300
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml up -d --build
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs traefik
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs web
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml config > /tmp/merged.yml
    - nano /tmp/merged.yml
    - CID=docker-compose -f docker-compose.yml -f docker-compose.override.yml ps -q traefik
    - docker inspect --format '{{range $k,$v := .Config.Labels}}{{$k}}={{$v}};{{end}}' $CID
    - sleep 20
    - docker-compose ps
    - docker-compose logs traefik | grep acme
    - echo "Checking HTTPS on main app route"
    - DOMAIN=fastapi-traefik.prod-fastapi.ip-ddns.com
    - curl -I "http://$DOMAIN" || (echo "public HTTP failed" && exit 1)
    - curl -k "https://$DOMAIN/" || (echo "public HTTPS failed" && exit 1)
    - echo "Check SSL certificate info"
    - openssl s_client -servername "$DOMAIN" -connect "$DOMAIN:443" </dev/null 2>/dev/null | openssl x509 -noout -issuer -subject -dates
    #- curl -fsSIL -u "testuser:${DASHBOARD_PASSWORD}" "https://dashboard-fastapi-traefik.prod-fastapi.ip-ddns.com" || (echo "Dashboard failed" && exit 1)
    - echo "Deployment and HTTPS verified successfully!"
  environment:
    name: Production
    url: https://fastapi-traefik.prod-fastapi.ip-ddns.com
  only:
    - main
  when: manual
