stages:
  - deploy

variables:
  RELEASE_NAME: fastapi-prod
  NAMESPACE: production
  CHART_DIR: ./devops-project/helm/fastapi
  IMAGE_TAG: latest
  KUBECONFIG_FILE: /home/gitlab-runner/.kube/config
  BIN_DIR: $CI_PROJECT_DIR/bin
  PATH: $CI_PROJECT_DIR/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin


deploy_prod:
  stage: deploy
  tags: [runner_ec2_project]
  before_script:
    - export PATH=$BIN_DIR:$PATH
    - set -eou pipefail
    - export KUBECONFIG=$KUBECONFIG_FILE
    - sudo chmod 600 $KUBECONFIG_FILE
    - sudo chown gitlab-runner:gitlab-runner $KUBECONFIG_FILE

    # Install dependencies
    - sudo apt-get update -y
    - sudo apt-get install -y curl bash openssl tar

    # Install kubectl into the workspace
    - mkdir -p $BIN_DIR
    - curl -LO "https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - mv kubectl $BIN_DIR/kubectl
    - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl" -o $BIN_DIR/kubectl
    - chmod +x $BIN_DIR/kubectl
    
    # Install helm into the workspace
    - curl -sL https://get.helm.sh/helm-v3.14.4-linux-amd64.tar.gz -o /tmp/helm.tgz
    - tar -zxvf /tmp/helm.tgz -C /tmp
    - mv /tmp/linux-amd64/helm $BIN_DIR/helm
    - chmod +x $BIN_DIR/helm
    - helm version
    
    # Sanity Checks: print which runner & kube server we're using
    - echo "Runner=$CI_RUNNER_DESCRIPTION"
    - echo "Using KUBECONFIG=$KUBECONFIG"
    - kubectl config view --minify -o jsonpath='{.clusters[0].cluster.server}'; echo
    - kubectl version
    - kubectl get nodes
    - export DB_PASSWORD="$DB_PASSWORD_PROD"
  script:
    - helm repo add traefik https://traefik.github.io/charts
    - helm repo update
    - |
      helm upgrade --install traefik traefik/traefik \
        --set service.type=LoadBalancer
    - |
      helm upgrade --install $RELEASE_NAME $CHART_DIR \
        --namespace $NAMESPACE \
        --create-namespace \
        -f $CHART_DIR/values.yaml \
        -f $CHART_DIR/values-prod.yaml \
        --set image.tag=$IMAGE_TAG \
        --set-string db.password="$DB_PASSWORD"
    - kubectl rollout status deployment/$RELEASE_NAME -n $NAMESPACE --timeout=120s
    - apk add --no-cache curl || apt-get update && apt-get install -y curl
    - |
      for i in {1..10}; do
        export SERVICE_IP=$(kubectl get svc $RELEASE_NAME -n $NAMESPACE -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
        [ -n "$SERVICE_IP" ] && break;
        sleep 10;
      done
    - 'echo "Service IP: $SERVICE_IP"'
    - |
      if [ -n "$SERVICE_IP" ]; then
        curl -f http://$SERVICE_IP:80 || (echo "Health check failed!" && exit 1);
      else
        echo "Service IP not found!" && exit 1;
      fi
    - echo "Deployment to production successful!"
  environment:
    name: production
    url: https://api.example.com
