stages:
 - deploy

variables:
  RELEASE_NAME: fastapi-prod
  NAMESPACE: production
  CHART_DIR: ./devops-project/helm/fastapi
  IMAGE_TAG: latest

deploy_prod:
  stage: deploy
  image: projectoss/helm-client:latest
  before_script:
    - mkdir -p $CI_PROJECT_DIR/.kube
    - echo "$KUBE_CONFIG" | base64 -d > "$CI_PROJECT_DIR/.kube/config"
    - chmod 600 $CI_PROJECT_DIR/.kube/config
    - export KUBECONFIG="$CI_PROJECT_DIR/.kube/config"
    - helm version
    - kubectl version 
  script:
    - helm repo add traefik https://traefik.github.io/charts
    - helm repo update  
    - helm upgrade --install traefik traefik/traefik \
        --set service.type=LoadBalancer 
   #- helm upgrade --install $RELEASE_NAME $CHART_DIR --namespace $NAMESPACE --create-namespace --set image.tag=$IMAGE_TAG
  
  environment:
    name: production
    url: https://api.example.com

