stages:
 - deploy

variables:
  RELEASE_NAME: fastapi-dev
  NAMESPACE: dev
  CHART_DIR: ./devops-project/helm/fastapi
  IMAGE_TAG: latest

deploy_dev:
  stage: deploy
  image: projectoss/helm-client:latest
  before_script:
    - mkdir -p $CI_PROJECT_DIR/.kube
    - echo "$KUBE_CONFIG" | base64 -d > "$CI_PROJECT_DIR/.kube/config"
    - chmod 600 $CI_PROJECT_DIR/.kube/config
    - export KUBECONFIG="$CI_PROJECT_DIR/.kube/config"
    #- helm version
  script:
    - helm version
    #- helm upgrade --install $RELEASE_NAME $CHART_DIR --namespace $NAMESPACE --create-namespace --set image.tag=$IMAGE_TAG
  environment:
    name: dev
    url: https://dev.example.com