stages:
  - update
  - build
  - test
  - deploy_dev
  - deploy_prod

variables:
  IMAGE_TAG: latest
  DOCKER_DRIVER: overlay2
  PYTHONPATH: .
  GIT_STRATEGY: clone
  DOCKERR_BUILDKIT: 1


update:
  stage: update
  image: python:3.11
  script:
    - python -m venv .venv
    - pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - .venv/
    expire_in: 1 hour
  # when: manual
  

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin 
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG" -f Dockerfile .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG" -f Dockerfile.prod .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG" -f Dockerfile.traefik .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG"
  only:
    - main
  when: manual

unit-test:
  stage: test
  image: python:3.11-slim
  before_script:
    # --- Unit tests ---
    - rm -rf .venv
    - apt-get update && apt-get install -y --no-install-recommends gcc build-essential libpq-dev python3-dev libffi-dev libssl-dev pkg-config curl && rm -rf /var/lib/apt/lists/*
    - pip install --upgrade pip
    - pip install asyncpg
    - pip install pydantic>=2.4 && pip install fastapi>=0.103
    - which gcc
    - which python3
    - gcc --version
    - python3 --version
    - python3 -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip setuptools wheel
    - pip install -r requirements.txt pytest
  script:
    - PYTHONPATH=. pytest --maxfail=1 --disable-warnings -q --junitxml=report.xml # the test runs at this stage
  artifacts:
    when: always
    reports:
      junit: report.xml
  only:
    - main   
  when: manual

smoke-test:
  stage: test
  needs: ["unit-test"]
  image: docker:latest
  services:
    - docker:dind
  script:
    # --- Smoke test with container ---
    - echo "Building and running Docker container for smoke tests"
    - apk add --no-cache curl
    - docker-compose -f docker-compose.yml up -d --build
    - docker ps -a
    - docker exec devops-project-web-1 sh -c "pip install uvicorn[standard]" 
    - docker-compose logs web
    - sleep 15  # Wait for the app to start
    - docker-compose exec -T web curl -f http://web:8000/ || (echo "Health check failed!" && exit 1)
    - docker-compose exec -T web curl -f http://web:8000/docs 
    - docker-compose logs
    - docker-compose down
  only:
    - main

deploy_dev:
  stage: deploy_dev
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Dev..."
   - docker-compose -f docker-compose.yml up -d --build
    # wait for services to start
   - sleep 15 
   - docker-compose ps
   - docker-compose logs web
   - docker-compose exec -T web curl -f http://web:8000/ || (echo "Health check failed!" && exit 1)
   - docker-compose exec -T web curl -f http://web:8000/docs || (echo "Docs endpoint check failed!" && exit 1)
   - echo "Deployment to Dev successful."
  environment:
    name: dev
    url: http://dev.example.com
  only:
    - main
    - develop
  when: manual

deploy_prod:
  stage: deploy_prod
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Production..."
   - docker-compose -f docker-compose.prod.yml up -d --build
   # wait for services to start
   - sleep 20
   - docker-compose ps
   - docker-compose logs web
   - docker ps -a
   - docker-compose exec -T web curl -f http://web:80/ || (echo "Health check failed!" && exit 1)
   - docker-compose exec -T web curl -f http://web:80/docs || (echo "Docs endpoint check failed!" && exit 1)
   - echo "Deployment to Production successful!"
  environment:
    name: Production
    url: https://fastapi-traefik.prod-fastapi.ip-ddns.com
  only:
    - main
  when: manual

# secure_prod:
#   stage: deploy_prod
#   image: sarialbebeto/fastapi-prod:latest
#   # tags: 
#   #   - traefik-fastapi-project       # a shell runner to run this job
#   before_script:
#     - echo "Preparing Traefik certificate folder..."
#     - mkdir -p $CI_PROJECT_DIR/traefik-public-certificates
#     - chown -R $(id -u):$(id -g) $CI_PROJECT_DIR/traefik-public-certificates
#     - touch $CI_PROJECT_DIR/traefik-public-certificates/acme.json
#     - chmod 700 $CI_PROJECT_DIR/traefik-public-certificates
#     - chmod 600 $CI_PROJECT_DIR/traefik-public-certificates/acme.json
#   script:
#     - echo "Installing dependencies"
#     - apt install -y docker.io
#     #- systemctl start docker
#     #- docker-compose -f docker-compose.prod.yml down
#     #- docker-compose version
#     #- docker version
#     - apt-get update && apt-get install -y bash curl coreutils ufw certbot
#     - certbot certonly --standalone -d fastapi-traefik.prod-fastapi.ddns-ip.net --non-interactive --agree-tos --email tsamosarial@yahoo.fr
#     - test -f /etc/letsencrypt/live/fastapi-traefik.prod-fastapi.ddns-ip.net/fullchain.pem || (echo "Certificate file not found!" && exit 1)
#     - openssl x509 -in /etc/letsencrypt/live/fastapi-traefik.prod-fastapi.ddns-ip.net/fullchain.pem -noout -issuer -subject -dates
#     - cp /etc/letsencrypt/live/fastapi-traefik.prod-fastapi.ddns-ip.net/fullchain.pem /home/gitlab-runner/traefik-public-certificates/
#     - cp /etc/letsencrypt/live/fastapi-traefik.prod-fastapi.ddns-ip.net/privkey.pem /home/gitlab-runner/traefik-public-certificates/
#     - chmod 600 /home/gitlab-runner/traefik-public-certificates/*.pem
#     - docker-compose -f docker-compose.prod.yml up -d --build
#     - docker ps -a
#     - sleep 20
#     - curl -vk https://fastapi-traefik.prod-fastapi.ddns-ip.net --max-time 30 || (echo "HTTPS check failed!" && exit 1)
#     # - echo "Securing Production with HTTPS..."
#     # - |
    #   cat > docker-compose.override.yml <<'EOF'
    #   services:
    #     web:
    #       labels:
    #         - "traefik.enable=true"
    #         - "traefik.http.routers.web.rule=Host(`fastapi-traefik.prod-fastapi.ddns-ip.net`)"
    #         - "traefik.http.routers.web.entrypoints=websecure"
    #         - "traefik.http.routers.web.tls.certresolver=letsencrypt"
    #         - "traefik.http.routers.web.middlewares=secure-headers"
    #         - "traefik.http.routers.web-secure-redirect.entrypoints=web"
    #         - "traefik.http.routers.web-secure-redirect.rule=Host(`fastapi-traefik.prod-fastapi.ddns-ip.net`)"
    #         - "traefik.http.routers.web-secure-redirect.middlewares=redirect-to-https"
    #         - "traefik.http.services.web.loadbalancer.server.port=80"
    #   EOF
    # - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml up -d --build 
    # # - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs traefik
    # - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs web
    # - docker ps -a
    # - sleep 20
    # - docker-compose restart traefik
    # - docker-compose restart web
    # - docker-compose restart db
    # - sleep 20
    # - docker-compose ps
    # - docker-compose logs traefik
    # - docker-compose logs db
    # - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml config > /tmp/merged.yml
    # - cat /tmp/merged.yml
    # - docker-compose logs traefik | grep acme
    # - echo "Test FastAPI inside the container..."
    # - docker-compose exec -T web curl -f http://web:80/ || (echo "Internal health check failed!" && exit 1)
    # - docker-compose exec -it web curl -vk http://web:80/docs || (echo "Internal docs endpoint check failed!" && exit 1)
    # - echo "Checking HTTPS..."
    # - openssl s_client -connect fastapi-traefik.prod-fastapi.ip-ddns.com:443 -servername fastapi-traefik.prod-fastapi.ddns-ip.net | openssl x509 -noout -issuer -subject -dates
    # - curl -vk http://fastapi-traefik.prod-fastapi.ddns-ip.net/.well-known/acme-challenge/test
    # - curl -vk https://fastapi-traefik.prod-fastapi.ddns-ip.net/docs || (echo "HTTPS check failed!" && exit 1)
    # - curl -vkI https://fastapi-traefik.prod-fastapi.ddns-ip.net/docs
    # - curl -vk https://fastapi-traefik.prod-fastapi.ddns-ip.net 2>&1 | grep "issuer"
    # - curl -vkI https://fastapi-traefik.prod-fastapi.ddns-ip.net
    #- echo "HTTPS enabled and secure headers applied!" #
  # environment:
  #  name: Production
  #  url: https://fastapi-traefik.prod-fastapi.ddns-ip.net
  # only:
  #  - main
  # when: manual


app_security:
  stage: deploy_prod
  tags: 
    - traefik-fastapi-project # a shell runner to run this job
  image: docker:27-cli
  before_script:
    - echo "Preparing Traefik certificate folder..."
    - rm -rf $CI_PROJECT_DIR/traefik-public-certificates
    - mkdir -p $CI_PROJECT_DIR/traefik-public-certificates
    #- chown -R $(whoami):$(whoami) $CI_PROJECT_DIR/traefik-public-certificates
    - chmod 700 $CI_PROJECT_DIR/traefik-public-certificates
    - touch $CI_PROJECT_DIR/traefik-public-certificates/acme.json
    - chmod 600 $CI_PROJECT_DIR/traefik-public-certificates/acme.json
    - ls -l $CI_PROJECT_DIR/traefik-public-certificates
    - cat $CI_PROJECT_DIR/traefik-public-certificates/acme.json
    - echo "Installing dependencies"
    - if ! command -v docker-compose &> /dev/null; then
         apt-get install docker-compose -y && apt-get update -y;
      fi
    #- apt-get install -y bash curl coreutils
    - docker-compose -f docker-compose.prod.yml down
  script:
    - echo "Deploying to Production (host Docker)"
    - |
      cat > docker-compose.override.yml <<'EOF'
      services:
        traefik:
          ports:
            - "80:80"
            - "443:443"
          volumes:
            - "$CI_PROJECT_DIR/traefik-public-certificates:/letsencrypt"
          labels:
            - "traefik.http.routers.dashboard.entrypoints=websecure"
            - "traefik.http.routers.dashboard.rule=Host(`dashboard-fastapi-traefik.prod-fastapi.ip-ddns.com`)"
            - "traefik.http.routers.dashboard.tls=true"
            - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
            - "traefik.http.routers.dashboard.service=api@internal"
            - "traefik.enable=true"

        web:
          labels:
            - "traefik.enable=true"
            - "traefik.http.routers.fastapi.entrypoints=web"
            - "traefik.http.routers.fastapi.entrypoints=websecure"
            - "traefik.http.routers.fastapi.rule=Host(`fastapi-traefik.prod-fastapi.ip-ddns.com`)"
            - "traefik.http.routers.fastapi.tls=true"
            - "traefik.http.routers.fastapi.tls.certresolver=letsencrypt"
            - "traefik.http.services.fastapi.loadbalancer.server.port=80"
      EOF
    - export COMPOSE_HTTP_TIMEOUT=300
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml up -d --build
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs traefik
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml logs web
    - docker-compose -f docker-compose.prod.yml -f docker-compose.override.yml config > /tmp/merged.yml
    - cat /tmp/merged.yml
    - CID=$(docker-compose -f docker-compose.yml -f docker-compose.override.yml ps -q traefik)
    - docker inspect --format '{{range $k,$v := .Config.Labels}}{{$k}}={{$v}};{{end}}' $CID
    - sleep 90
    - docker-compose ps
    - docker-compose logs traefik 
    - echo "Checking HTTPS on main app route"
    - DOMAIN=fastapi-traefik.prod-fastapi.ip-ddns.com
    - curl -vk "http://$DOMAIN:80" || (echo "public HTTP failed" && exit 1) || true
    - curl -vk http://$DOMAIN/.well-known/acme-challenge/TEST
    - curl -k "https://$DOMAIN:443" || (echo "public HTTPS failed" && exit 1)
    - echo "Check SSL certificate info"
    - openssl s_client -servername "$DOMAIN" -connect "$DOMAIN:443" </dev/null 2>/dev/null | openssl x509 -noout -issuer -subject -dates
    - curl -vI "http://dashboard-$DOMAIN/.well-known/acme-challenge/TEST"
    - echo "Deployment and HTTPS verified successfully!"
  environment:
    name: Production
    url: https://fastapi-traefik.prod-fastapi.ip-ddns.com
  only:
    - main
  when: manual
