stages:
  - build
  - deploy

variables:
  EKS_CLUSTER_NAME: fastapi-eks
  AWS_REGION: eu-west-3
  RELEASE_NAME: fastapi-prod
  NAMESPACE: production
  CHART_DIR: ./devops-project/helm-aws/fastapi
  IMAGE_NAME: $CI_REGISTRY_IMAGE/app
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  GITLAB_USER: $CI_COMMIT_AUTHOR
  GITLAB_PASSWORD: $PAT_GITLAB

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-aws:$IMAGE_TAG" -f Dockerfile.aws .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-aws:$IMAGE_TAG"

# This pipeline assumes that the EKS cluster already exists and nodes are ready.(the cluster will be created manually on AWS with the name fastapi-eks)

deploy_prod:
  stage: deploy
  image: $DOCKER_REGISTRY_USER/fastapi-aws:$IMAGE_TAG
  before_script:
    # Update kubeconfig to talk to your existing cluster
    - aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region $AWS_REGION

    # GitLab registry credentials
    - export CI_REGISTRY=registry.gitlab.com
    - export CI_USER=$GITLAB_USER
    - export CI_PASS=$PAT_GITLAB
    - export CI_EMAIL="tsamosarial@yahoo.fr"

  script:
    # Namespace + registry secret
    - kubectl create namespace $NAMESPACE --dry-run=client -o yaml | kubectl apply -f -
    - kubectl create secret docker-registry gitlab-regcred \
        --docker-server=$CI_REGISTRY \
        --docker-username=$CI_USER \
        --docker-password=$CI_PASS \
        --docker-email=$CI_EMAIL \
        --namespace $NAMESPACE

    # Install traefik(Traefik: Ingress Controller)
    - helm repo add traefik https://traefik.github.io/charts
    - helm repo update
    - helm upgrade --install traefik traefik/traefik \
        -n traefik --create-namespace \
        --set service.type=LoadBalancer \
        --set ingressClass.enabled=true \
        --set ingressClass.isDefaultClass=true \
        --set service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-type"=nlb \
        --set service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-nlb-target-type"=ip \
        --set service.annotations."service\.beta\.kubernetes\.io/aws-load-balancer-scheme"=internet-facing
    - kubectl get svc -n traefik traefik -o jsonpath='{.status.loadBalancer.ingress[0].hostname}'; echo

    # Deploy FastAPI app  
    - helm upgrade --install $RELEASE_NAME $CHART_DIR \
        --namespace $NAMESPACE \
        -f $CHART_DIR/values.yaml \
        -f $CHART_DIR/values-prod.yaml \
        --set image.repository=$IMAGE_NAME \
        --set image.tag=$IMAGE_TAG \
        --set-string db.password="$DB_PASSWORD_PROD" \
        --set image.pullSecrets[0].name=gitlab-regcred
    
    # Cert-manager
    - helm repo add jetstack https://charts.jetstack.io
    - helm repo update
    - helm upgrade --install cert-manager jetstack/cert-manager \
        --namespace cert-manager --create-namespace \
        --set crds.enabled=true
    - kubectl apply -f $CHART_DIR/clusterissuer.yaml
  environment:
    name: production
    url: https://api.example.com
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# this Pipeline will be tested once we get the AWS credentials