stages:
  - build
  - migrate
  - deploy

variables:
  RELEASE_NAME: fastapi-prod
  NAMESPACE: production
  CHART_DIR: /home/ubuntu/devops-project/helm/fastapi
  IMAGE_TAG: latest
  KUBECONFIG_FILE: /home/gitlab-runner/.kube/config
  BIN_DIR: $CI_PROJECT_DIR/bin
  PATH: $CI_PROJECT_DIR/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  DB_PASSWORD: "traefikapi2025@"

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin 
    - docker build -f Dockerfile.migrate -t "$DOCKER_REGISTRY_USER/alembic-migrate:latest" .
    - docker push "$DOCKER_REGISTRY_USER/alembic-migrate:latest"
  only:
    - main

migrate_db:
  image: bitnami/kubectl:latest
  stage: migrate
  script:
    - kubectl delete job alembic-migrate -n $NAMESPACE
    - kubectl delete pods --all -n $NAMESPACE
    - kubectl apply -f helm/fastapi/alembic-migrate-job.yaml -n $NAMESPACE
    - sleep 20
    - kubectl logs job/alembic-migrate -n $NAMESPACE
    - kubectl get pods -n $NAMESPACE
    - kubectl describe pods -n $NAMESPACE
    #- kubectl logs pods -n $NAMESPACE
    - kubectl wait --for=condition=complete --timeout=180s job/alembic-migrate -n $NAMESPACE
    - kubectl delete job alembic-migrate -n $NAMESPACE
  only:
    - main
  tags:
    - traefik-fastapi-project
  allow_failure: false
  when: on_success

deploy_prod:
  stage: deploy
  tags:
    - traefik-fastapi-project
  needs: ["migrate_db"]
  before_script:
    - whoami
    - export PATH=$BIN_DIR:$PATH
    - set -eou pipefail
    - export KUBECONFIG=$KUBECONFIG_FILE
    - if [ -d "$KUBECONFIG_FILE" ]; then sudo rm -rf "$KUBECONFIG_FILE"; fi
    - mkdir -p $(dirname $KUBECONFIG_FILE)
    - echo "$KUBE_CONFIG_CONTENT" | base64 -d > "$KUBECONFIG_FILE"
    - sudo chmod 600 $KUBECONFIG_FILE
    - sudo chown $(whoami):$(whoami) $KUBECONFIG_FILE
    - sudo ls -l $KUBECONFIG_FILE
    - echo "Installing dependencies..."
    - sudo apt-get update -y
    - sudo apt-get install -y curl bash openssl tar
    - echo "Installing kubectl..."
    - mkdir -p $BIN_DIR
    - curl -LO "https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
    - mv kubectl $BIN_DIR/kubectl
    - chmod +x $BIN_DIR/kubectl
    - echo "Installing helm..."
    - curl -sL https://get.helm.sh/helm-v3.14.4-linux-amd64.tar.gz -o /tmp/helm.tgz
    - tar -zxvf /tmp/helm.tgz -C /tmp
    - mv /tmp/linux-amd64/helm $BIN_DIR/helm
    - chmod +x $BIN_DIR/helm
    - $BIN_DIR/helm version
    - echo "Runner=$CI_RUNNER_DESCRIPTION"
    - echo "Using KUBECONFIG=$KUBECONFIG"
    - $BIN_DIR/kubectl config view --minify -o jsonpath='{.clusters[0].cluster.server}'; echo
    - $BIN_DIR/kubectl version
    - $BIN_DIR/kubectl get nodes
    - echo "Password=$DB_PASSWORD"
    - export DB_PASSWORD_PROD=$DB_PASSWORD
    - export DB_PASSWORD="$DB_PASSWORD_PROD"
  script:
    - $BIN_DIR/helm repo add traefik https://traefik.github.io/charts
    - $BIN_DIR/helm repo update
    - export KUBECONFIG=$KUBECONFIG_FILE
    - $BIN_DIR/kubectl get nodes
    - $BIN_DIR/helm history traefik -n kube-system || echo "No previous traefik release found"
    - $BIN_DIR/kubectl config view --minify -o jsonpath='{.clusters[0].cluster.server}'
    - $BIN_DIR/helm uninstall traefik -n kube-system || true
    - if $BIN_DIR/helm status traefik -n kube-system > /dev/null 2>&1; then
        echo "Traefik exists --> upgrading...";
        $BIN_DIR/helm upgrade traefik traefik/traefik -n kube-system --timeout 10m0s --atomic;
      else
        echo "Traefik not installed or broken, reinstalling...";
        $BIN_DIR/helm uninstall traefik -n kube-system || true;
        $BIN_DIR/helm upgrade --install traefik traefik/traefik --namespace kube-system --create-namespace --timeout 10m0s --atomic --set service.type=LoadBalancer;
      fi
    - $BIN_DIR/kubectl delete pods --all -n $NAMESPACE || true
    - $BIN_DIR/helm uninstall $RELEASE_NAME -n $NAMESPACE || true
    - $BIN_DIR/kubectl delete pvc -l app.kubernetes.io/instance=$RELEASE_NAME -n $NAMESPACE || true
    - $BIN_DIR/helm template $RELEASE_NAME $CHART_DIR -f $CHART_DIR/values.yaml -f $CHART_DIR/values-prod.yaml
    - if $BIN_DIR/helm status $RELEASE_NAME -n $NAMESPACE > /dev/null 2>&1; then
        echo "Release $RELEASE_NAME exists in namespace $NAMESPACE, upgrading...";
        $BIN_DIR/helm upgrade $RELEASE_NAME $CHART_DIR --namespace $NAMESPACE -f $CHART_DIR/values.yaml -f $CHART_DIR/values-prod.yaml --set image.tag=$IMAGE_TAG --set-string db.password="$DB_PASSWORD" --debug;
     else
       echo "Release $RELEASE_NAME does not exist in namespace $NAMESPACE, installing...";
       $BIN_DIR/helm install $RELEASE_NAME $CHART_DIR --namespace $NAMESPACE --create-namespace -f $CHART_DIR/values.yaml -f $CHART_DIR/values-prod.yaml --set image.tag=$IMAGE_TAG --set-string db.password="$DB_PASSWORD" --debug;
     fi
    - sleep 60 # give the cluster some time to start the pods
    - $BIN_DIR/helm list -n $NAMESPACE
    - $BIN_DIR/kubectl get ns
    - $BIN_DIR/kubectl get pods -n $NAMESPACE
    - $BIN_DIR/kubectl describe pods -n $NAMESPACE
    - $BIN_DIR/kubectl get svc -n $NAMESPACE
    - $BIN_DIR/kubectl get statefulset -n $NAMESPACE
    - $BIN_DIR/kubectl logs deployment/$RELEASE_NAME -n $NAMESPACE --tail=100
    - $BIN_DIR/helm get manifest $RELEASE_NAME -n $NAMESPACE | head -40
    - sleep 60
    - $BIN_DIR/kubectl get pods -n $NAMESPACE
    - $BIN_DIR/kubectl describe pods -n $NAMESPACE
    - $BIN_DIR/kubectl logs deployment/$RELEASE_NAME -n $NAMESPACE --tail=200
    - $BIN_DIR/kubectl rollout status deployment/$RELEASE_NAME -n $NAMESPACE --timeout=300s
    - $BIN_DIR/kubectl get svc traefik -n kube-system
    - |
      for i in {1..10}; do
        export SERVICE_IP=$($BIN_DIR/kubectl get svc $RELEASE_NAME -n $NAMESPACE -o jsonpath='{.status.loadBalancer.ingress[0].ip}');
        [ -n "$SERVICE_IP" ] && break;
        sleep 10;
      done
    - 'echo "Service IP: $SERVICE_IP"'
    - if [ -n "$SERVICE_IP" ]; then
        curl -f http://$SERVICE_IP:80 || (echo "Health check failed!" && exit 1);
        curl -vk https://fastapi-traefik.prod-fastapi.ddns-ip.net || (echo "HTTPS Health check failed!" && exit 1);
      else
        echo "Service IP not found!" && exit 1;
      fi
    - echo "Deployment to production successful!"
  environment:
    name: production
    url: https://api.example.com
  allow_failure: true
  only:
    - main
