stages:
  - update
  - build
  - test
  - deploy_dev
  - deploy_prod

variables:
  IMAGE_TAG: latest
  DOCKER_DRIVER: overlay2
  DATABASE_URL: sqlite:///./test.db
  PYTHONPATH: .

update:
  stage: update
  image: python:3.11
  script:
    - python -m venv .venv
    - pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - .venv/
    expire_in: 1 hour
  when: manual

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin 
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG" -f Dockerfile .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-dev:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG" -f Dockerfile.prod .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-prod:$IMAGE_TAG"
    - docker build -t "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG" -f Dockerfile.traefik .
    - docker push "$DOCKER_REGISTRY_USER/fastapi-traefik:$IMAGE_TAG"
  only:
    - main
  when: manual

unit-test:
  stage: test
  image: python:3.11-slim
  before_script:
    # --- Unit tests ---
    - rm -rf .venv
    - apt-get update && apt-get install -y --no-install-recommends gcc build-essential libpq-dev python3-dev libffi-dev libssl-dev pkg-config curl && rm -rf /var/lib/apt/lists/*
    - pip install --upgrade pip
    - pip install asyncpg
    - pip install pydantic>=2.4 && pip install fastapi>=0.103
    - which gcc
    - which python3
    - gcc --version
    - python3 --version
    - python3 -m venv .venv
    - . .venv/bin/activate
    - pip install --upgrade pip setuptools wheel
    - pip install -r requirements.txt pytest
  script:
    #- pytest -v --maxfail=1 --disable-warnings --junitxml=report.xml 
    - PYTHONPATH=. pytest --maxfail=1 --disable-warnings -q --junitxml=report.xml # the test is run at this stage
  artifacts:
    when: always
    reports:
      junit: report.xml
  only:
    - main  

smoke-test:
  stage: test
  needs: ["unit-test"]
  image: docker:latest
  services:
    - docker:dind
    - name: postgres:15
      alias: db
  variables:
    POSTGRES_DB: testdb
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
    DATABASE_URL: postgresql://testuser:testpass@db:5432/testdb
  script:
    # --- Smoke test with container ---
    - echo "Building and running Docker container for smoke tests"
    - apk add --no-cache curl
    - docker build -t test-app:$CI_COMMIT_SHORT_SHA  .
    - docker run -d --name test-app -e DATABASE_URL=$DATABASE_URL test-app:$CI_COMMIT_SHORT_SHA 
    - docker logs test-app || true
    - docker ps -a
    - sleep 15  # Wait for the app to start
    - docker exec test-app curl -f http://localhost:8000/ || (echo "Health check failed!" && exit 1)
    - docker exec test-app curl -f http://localhost:8000/docs 
  only:
    - main

deploy_dev:
  stage: deploy_dev
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Dev..."
   - docker-compose -f docker-compose.yml up -d --build
  environment:
    name: dev
    url: http://dev.example.com
  only:
    - main
    - develop

deploy_prod:
  stage: deploy_prod
  image: docker:latest
  services:
    - docker:dind
  script:
   - echo "Deploying to Production..."
   - docker-compose -f docker-compose.prod.yml up -d --build
  environment:
    name: Production
    url: http://prod.example.com
  only:
    - main
  when: manual

