replicaCount: 1

image:
  repository: sarialbebeto/fastapi-dev
  pullPolicy: Always
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

containerPort: 8000

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

ingress:
  enabled: true
  className: "traefik"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

db:
  image:
    repository: postgres
    tag: "17-alpine"
    pullPolicy: IfNotPresent
  port: 5432
  user: fastapi_traefik
  password: fastapi_traefik
  database: fastapi_traefik

  host: app-fastapi-deployment-db

  storage:
    size: 5Gi
    storageClassName: ""

  environment:
    - DATABASE_URL=postgresql://fastapi_traefik:fastapi_traefik@app-fastapi-deployment-db:5432/fastapi_traefik

volumes: []
volumeMounts: []


nodeSelector: {}


tolerations: []


affinity: {}

httpRoute:
  enabled: false
  annotations: {}
  parentRefs: []
  hostnames: []
  rules: []

