replicaCount: 2


image:
  repository: sarialbebeto/fastapi-prod
  pullPolicy: Always
  tag: ""


imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""


serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""


podAnnotations: {}

podLabels: {}

podSecurityContext: {}

securityContext: {}

containerPort: 80
service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure,web
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
  hosts:
    - host: prod-fastapi.ddns-ip.net
      paths:
        - path: /
          pathType: Prefix
  tls: []

db:
  image:
    repository: postgres
    tag: "17-alpine"
    pullPolicy: IfNotPresent
  port: 5432
  user: fastapi_traefik_prod
  password: fastapi_traefik_prod
  database: fastapi_traefik_prod
  #host: fastapi-prod-db
  host: app-fastapi-deployment-prod-db
  storage:
    size: 5Gi
    storageClassName: ""
  environment:
     - DATABASE_URL=postgresql://fastapi_traefik_prod:fastapi_traefik_prod@app-fastapi-deployment-prod-db:5432/fastapi_traefik_prod
     

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers


resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []

volumeMounts: []


nodeSelector: {}

tolerations: []

affinity: {}
